.compareForm {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.inputs {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.inputs .flexContainer {
    width: 48%;
}

.direct {
    text-align: left;
    font-size: clamp(0.6rem, 3vw, 0.8rem);
    padding: 0;
    margin: 2px;
}

.compareButton {
    padding: 10px 12px;
}

@media (max-width: 500px) {
    .inputs .flexContainer {
        width: 100%;
    }

    .persoList .glass {
        padding: 20px;
    }

}