/* Gallery styles */

.gallery {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0;
    justify-content: space-around;

}

/* styling back button */
.galleryBack {
    top: -60px;
}
