.helpDiv .modalPopUp {
   position: fixed;
   z-index: 10;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   border-radius: 0;
}

.guide {
   font-weight: 700;
   text-align: center;
}

.help {
   position: fixed;
   top: 4.5vh;
   right: 2vw;
   z-index: 20;
}

.hidden {
   display: none;
}
