.movieDetails .backButton {
    /* position: absolute; */
}

.movieDetails .flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.movieDetails h2 {
    margin: 0;
}

p span {
    font-weight: bold;
}