/* Styling the order buttons for the ranking page */

.orderButtons {
    display: flex;
    flex-direction: row;
}

.orderButtons .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.orderButtons .buttonContainer button {
    padding: 0px;
    background-color: transparent;
    font-size: 1.2rem;
}

.orderButtons .remove {
    margin: 10px 0 10px 10px;
}

/* hover effects on up and down reorder buttons */
.order:hover {
    color: #80929d;
}

.order:focus {
    color: #80929d;
}
