.persoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}

.persoList ol {
    list-style-position: inside;
}

.persoList .score {
    width: 100%;
}

.persoList .flexContainer {
    width: 48%;
}

.points10 {
    color: green;
}

.points7 {
    color: blue;
}

.points5 {
    color: purple;
}

.points1 {
    color: orange;
}

.points0 {
    color: red;
}

@media (max-width: 500px) {
.persoList .flexContainer {
        width: 100%;
}

.persoList .glass {
    padding: 20px;
}

}