.ranking ol {
    padding: 0;
    list-style-type: decimal;
}

.ranking li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    list-style-position: inside;

    margin: 10px 0;
    padding: 0 20px;

    border-radius:  40px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 100%);
    box-shadow: 6px 6px 20px rgba(102, 125, 138, 0.2);
}

.ranking .buttonContainer button {
    margin-right: 10px;
}

.ranking p {
    color: #6798C0;
    padding: 10px 0;
    cursor: default;
}

.ranking .movie p {
    color: #0A171F;
    font-weight: 500;
    /* cursor: default; */
}
