.ranking li {
    display: flex;

    list-style-position: inside;

    margin: 10px 0;

    border-radius:  40px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 100%);
    box-shadow: 6px 6px 20px rgba(102, 125, 138, 0.2);
}